 <form action="/add" method="post">
        <div>
            <label for="teams_list">Teams</label>
            <textarea type="text" class="teams" name="teams"></textarea>
            <input type="submit" value="Enviar" onclick="index.js"/>
        </div>
    </form>   